name: Build HAP

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

env:
  OHOS_ARCH: aarch64
  OHOS_ABI: arm64-v8a
  OHOS_SDK_RELEASE_VERSION: "6.0.0.1"
  OHOS_SDK_VERSION: "6.0.0.48"
  OHOS_SDK_HOME: ${{ github.workspace }}/ohos-sdk/linux
  ARKUIX_VERSION: 5.0.1.110
  ARKUIX_HOME: ${{ github.workspace }}/arkui-x
  WGET: "wget --retry-connrefused --read-timeout=20 --timeout=15"

jobs:
  build-hnp:
    runs-on: ubuntu-24.04
    steps:
      - name: Update Apt Cache
        run: sudo apt update

      - name: Free Disk Space
        uses: endersonmenezes/free-disk-space@v3  # Use @main for latest, @v3 for stable
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
          rm_cmd: "rm"  # Use 'rmz' for faster deletion (default: 'rm')
          rmz_version: "3.1.1"  # Required when rm_cmd is 'rmz'
          testing: false

      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo apt install -y build-essential cmake curl wget unzip python3 libncurses-dev \
                              git flex bison bash make autoconf libcurl4-openssl-dev tcl \
                              gettext zip pigz meson liblzma-dev

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          max-size: 2G

      - name: Cache OHOS Toolchain
        id: cache-toolchain # Assign an ID to this step to check its output later
        uses: actions/cache@v4
        with:
          path: ${{ env.OHOS_SDK_HOME }}
          key: ${{ runner.os }}-ohos-${{ env.OHOS_SDK_RELEASE_VERSION }}
          restore-keys: |
            ${{ runner.os }}-ohos-${{ env.OHOS_SDK_RELEASE_VERSION }}

      - name: Download OHOS SDK
        if: steps.cache-toolchain.outputs.cache-hit != 'true'
        shell: bash
        run: |
          curl -OL https://repo.huaweicloud.com/openharmony/os/${OHOS_SDK_RELEASE_VERSION}-Release/ohos-sdk-windows_linux-public.tar.gz
          tar -xzf ohos-sdk-windows_linux-public.tar.gz
          rm ohos-sdk-windows_linux-public.tar.gz
          rm -rf ohos-sdk/{ohos,windows}
          pushd ohos-sdk/linux
            for file in $(find . -type f); do
              unzip $file && rm $file
            done
          popd

      - name: Cache ARKUIX
        id: cache-arkuix # Assign an ID to this step to check its output later
        uses: actions/cache@v4
        with:
          path: ${{ env.ARKUIX_HOME}}
          key: ${{ runner.os }}-arkuix-${{ env.ARKUIX_VERSION }}
          restore-keys: |
            ${{ runner.os }}-arkuix-${{ env.ARKUIX_VERSION}}

      - name: Download ARKUIX
        if: steps.cache-arkuix.outputs.cache-hit != 'true'
        shell: bash
        run: |
          $WGET https://repo.huaweicloud.com/arkui-crossplatform/sdk/${ARKUIX_VERSION}/linux/arkui-x-linux-x64-${ARKUIX_VERSION}-Release.zip -c -O ${{ github.workspace }}/arkuix-sdk.zip
          unzip -o arkuix-sdk.zip
          pushd ${{ github.workspace }}/arkui-x
              test -d licenses || mkdir licenses
              cp ${{ github.workspace }}/.ci/arkuix/* licenses/
          popd
          echo "arkui-x.dir=${{ github.workspace }}/arkui-x" > ${{ github.workspace }}/local.properties

      - name: Build hnp
        shell: bash
        run: |
          USE_CCACHE=1 make -C build-hnp

      - name: Build hap
        shell: bash
        run: |
          hvigorw assembleHap
          pushd ${{ github.workspace }}/entry
              zip -r ../entry/build/default/outputs/default/entry-default-unsigned.hap hnp
          popd

      - name: Upload hnp
        uses: actions/upload-artifact@v6
        with:
          name: hnp
          path: |
            build-hnp/*.hnp
          retention-days: 7

      - name: Upload hap
        uses: actions/upload-artifact@v6
        with:
          name: hap
          path: |
            entry/build/default/outputs/default/entry-default-unsigned.hap
          retention-days: 7
